<div class="column1">
  <h4>{{bird_name}} (Latin name: {{latin_name}})</h4>
  <figure class="card code-card">
    <img src="/images/{{bird_img}}" />
    <figcaption>{{bird_name}} weight {{weight}}</figcaption>
  </figure>
  <p>{{bird_type}}</p>
  <p>{{description}}</p>
</div>